body{
  background-color: #9bab4b;
}

#markdown {
  margin-top: 20px;
  width: 500px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#preview {
  margin-top: 20px;
  width: 500px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#markdown-text {
  margin: 20px 0;
  height:200px;
  width: 400px;
  background-color: white;
}

.box-title {
  color: white;
}
.jumbotron {
  background-color: #103e2f;
  color: white;
  font-weight: 1200;
}

.card-header {
  background-color: #ab9b4b;
  color: white;
}
.card {
  /*height: 488px;*/
}
.card-block {
  height: 488px;
  display: flex;
  flex-direction: column;
}
.card-block #markdown {
  margin-top: 0;
  box-sizing: border-box;
  height: 100%;
}
